{% extends 'base.html' %}

{% block title %} Heart Disease {% endblock %}

{% block content %}
	<!-- Wrapper -->
    <div class="wrapper">

	<!-- Content -->
	<div class="content">
	
        <!-- Top content -->
        <div class="top-content section-container" id="top-content">
	        <div class="container">
	            <div class="row">
	                <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
	                	<h1 class="wow fadeIn">Heart disease <strong>prediction</strong> system</h1>
	                	<div class="description wow fadeInLeft">
	                		<p>
	                			We use machine learning (ML) techniques to compute and predict the patient cardiovascular health after we have obtained essential data from the human body.
	                		</p>
	                	</div>
	                	<div class="buttons wow fadeInUp">							
							<a class="btn btn-primary btn-customized" href="{{ url_for('heartDisease') }}" role="button">
								<i class="fas fa-heartbeat"></i> Get Start
							</a>
						</div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Section 1 -->
        <div class="section-1-container section-container" id="section-1">
	        <div class="container">
	            <div class="row">
	                <div class="col section-1 section-description wow fadeIn">
	                    <h2>How it works</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-4 section-1-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-robot"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Modele</h3>
	                    		<p>We used nearly 300 inputs which were used to train and test our model and from which decision making is based.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInDown">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fa fa-file-contract"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Inputs and Output</h3>
	                    		<p>Fill in each field of the form and our model will tell you according to your parameters if you are affected or not.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fa fa-solid fa-microchip"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Decision making</h3>
	                    		<p>The result may not correspond to a laboratory result because our model is based only on what it has been trained.</p>
	                    	</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>

        <!-- Section 2 -->
        <div class="section-2-container section-container section-container-gray-bg" id="section-2">
	        <div class="container">
	            <div class="row">
	                <div class="col section-2 section-description wow fadeIn">
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-8 section-2-box wow fadeInLeft">
                    	<h3>Context</h3>
                    	<p class="medium-paragraph">
                    		This is multivariate type of dataset which means providing or involving a variety of separate 
                    		mathematical or statistical variables, multivariate numerical data analysis.
                    	</p>
                    	<p>
                    		It is composed of 
                    		14 attributes which are age, sex, chest pain type, resting blood pressure, serum cholesterol, 
                    		fasting blood sugar, resting electrocardiographic results, maximum heart rate achieved, exercise 
                    		induced angina, oldpeak — ST depression induced by exercise relative to rest, the slope of the peak 
                    		exercise ST segment, number of major vessels and Thalassemia. 
                    	</p>
	                </div>
	                <div class="col-4 section-2-box wow fadeInUp">
                    	<img src="static/assets/img/about-us.png" alt="about-us">
	                </div>
	            </div>
	        </div>
        </div>

		<!-- Section 3 -->
        <div class="section-3-container section-container" id="section-3">
	        <div class="container">
	        	
	            <div class="row">
	                <div class="col section-3 section-description wow fadeIn">
	                    <h2>Meaning of inputs</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">age</h3>
						</div>
                    	<p>
                    		The person’s age in years.
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">sex</h3>
						</div>
                    	<p>
                    		The person’s sex (1 = male, 0 = female)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">ca</h3>
						</div>
                    	<p>
							The number of major vessels (0–3)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">cp</h3>
						</div>
                    	<p>
                    		chest pain type (asymptomatic, atypical angina, non-anginal pain, typical angina)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">trestbps</h3>
						</div>
                    	<p>
                    		The person’s resting blood pressure (mm Hg on admission to the hospital)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">slope</h3>
						</div>
                    	<p>
							The slope of the peak exercise ST segment (0: downsloping; 1: flat; 2: upsloping)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">chol</h3>
						</div>
                    	<p>
                    		The person’s cholesterol measurement in mg/dl
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">thalach</h3>
						</div>
                    	<p>
                    		The person’s maximum heart rate achieved
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">exang</h3>
						</div>
                    	<p>
                    		Exercise induced angina (yes or no)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">restecg</h3>
						</div>
                    	<p>
                    		resting electrocardiographic results, showing probable or definite left ventricular 
                    		hypertrophy by Estes’ criteria: normal or having ST-T wave abnormality 
                    		(T wave inversions and/or ST elevation or depression of > 0.05 mV))
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">oldpeak</h3>
						</div>
                    	<p>
                    		ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot.)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">thal</h3>
						</div>
                    	<p>
							A blood disorder called thalassemia Value 0: NULL (dropped from the dataset previously
							Value 1: fixed defect (no blood flow in some part of the heart)
							Value 2: normal blood flow
							Value 3: reversible defect (a blood flow is observed but it is not normal)
                    	</p>
	                </div>
	                <div class="col-md-4 section-3-box wow fadeInLeft">
	                    <div class="d-flex pb-2 align-items-center">
							<i class="box-icon fas fa-check-circle"></i>
	                		<h3 class="pl-2">fbs</h3>
						</div>
                    	<p>
                    		The person’s fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)
                    	</p>
	                </div>
	            </div>

	        </div>
        </div>
        
        
        <div class="row">
            <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-5">
                <div class="buttons wow fadeInDown">							
					<a class="btn btn-primary btn-customized" href="{{ url_for('heartDisease') }}" role="button">
						<i class="fas fa-heartbeat"></i> Get Start
					</a>
				</div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer-container">

	        <div class="container">
	        	<div class="row">

                    <div class="col">
                    	&copy; {{ now.year }} H.D.P.S
                    </div>

                </div>
	        </div>

        </footer>
        
        </div>
        <!-- End content -->
        
    </div>
    <!-- End wrapper -->

{% endblock %}