{% extends 'base.html' %}

{% block title %} Heart Disease {% endblock %}

{% block content %}

  <h1>
    <div style ="text-align:center">
      <font color='white'>
        Heart Disease Prediction
      </font>
    </div>
  </h1>
  <br>
  
   <section id="facilities">
     <div class="container">
       <div class="card" style= "max-width: 500px; margin:0 auto;">
         <div class="card-body">
       <div class="title">
         <h3>
           <font color='Black'>Our model predict you are </font>
         </h3>
         <font color='white'>
           <h1>
             <font color="blue">{{ prediction }}</font>
          </h1>
         </font>
         <h3>
           <font color='Black'>by Heart Disease</font>
         </h3>
       </div>
     </div>
     </div>
     </div>
   </section>
{% endblock %}
